body {
	margin: 0;
	padding: 0;
	width: 1080px;
	font-family: Arial;
	font-size: 20px;
	box-sizing: border-box;
}
.main {
	width: 100%;
	margin: 0 auto;
  	display: flex;
}
.reg ul li {
	list-style-type: none;
}
.reg ul li:nth-child(1) {
	list-style-image: url(../img/username.png);
}
.reg ul li:nth-child(2) {
	list-style-image: url(../img/email.png);
}
.reg ul li:nth-child(3) {
	list-style-image: url(../img/pswd.png);
	width: 45%;
}
.reg ul li:nth-child(4) {
	width: 45%;
}
.long {
	width: 95%;
}
hr {
	height: 3px;
}
.sub {
	width: 1080px;
	display: flex;
	justify-content: flex-end;
}
button {
	background-color: darkturquoise;
	padding: 10px 30px;
	border-radius: 1px;
	color: white;
	text-transform: uppercase;
}